MYSQL_DSN=cpabe:cpabe@tcp(127.0.0.1:3306)/go_cpabe?charset=utf8mb4&parseTime=True&loc=Local
REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=
REDIS_DB=0
JWT_SECRET=please-change-this-secret-in-real-env
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h
SERVER_ADDR=:8080
AVATAR_UPLOAD_DIR=uploads/avatars
AVATAR_URL_PREFIX=/uploads/avatars
AVATAR_MAX_SIZE=2097152
